
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('imagens/wp11853374.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 680px;
}

input[type="text"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox-container input {
    margin-right: 10px;
}

.mensagem {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}